/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-color: #282323;
  --secondary-color: #F65282;
}

body {
  font-family: var(--primary-font);
  background-color: #1b1b1b !important;
}

#navbar-specials {
  background-color: #202020 !important;
  height: 118px;
}

.art {
  padding-top: 100px;
  background-size: cover;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  color: white;
}

.photographer {
  padding-top: 178px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

h1.art-name {
  font-size: 72px;
  font-weight: 700;
  margin-top: 25px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p.description {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 460px;
  margin: 25px auto;
}

#get-started {
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 18px 40px;
  margin-top: 17px;
}
#get-started:hover {
  background-color: #202020 !important;
  color: white;
}

.gallery {
  margin: 80px;
  background-color: #1b1b1b;
}
.gallery-picture {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin: 20px;
}

footer {
  background-color: var(--primary-color);
  color: white;
  height: 100px;
}
.shecodes {
  font-size: 24px;
  font-weight: 500;
}

.social {
  margin: auto 15px;
}

.about-main{
  padding-top: 118px;
}

.gallery-header, .contact-header {
  margin-top: 150px;
  color: white;
  font-size: 72px;
  font-weight: 700;
  text-align: center;
}

.subheading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--secondary-color);
}

.photographer-name {
  font-size: 64px;
  color: white;
  line-height: 75px;
  font-weight: 700;
}

.about-content {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.camera {
  background-color: #2D2727;
  padding: 20px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  width: fit-content;
}

.contact {
  color: white;
}
.contact > a, .social, footer a.shecodes {
  text-decoration: none;
  color: white;
  transition: all 150ms ease-in-out;
}

.social:hover, .email:hover {
  color: grey;
}

.contact-button>a {
  display: block;
  text-decoration: none;
  color: black;
}

.contact-button>a:hover {
  color: white;
}

.github-link {
  color: white;
}

@media (max-width: 768px) {
  h1.art-name {
    font-size: 44px;
  }

  #get-started {
    line-height: 14px;
    font-size: 10px;
    padding: 10px 20px;
  }

  footer {
    height: 70px;
  }
  footer .shecodes {
    font-weight: 400;
    font-size: 18px;
  }
  .rights {
    font-size: 10px;
  }
  .social {
    margin: auto 7px;
  }
  .about-container {
    text-align: center;
  }
  .camera {
    margin: 0 auto;
  }
  .subheading {
    font-size: 12px;
    line-height: 1;
  }
}

@media (max-width: 1440px)  {
  .photographer-name, .contact-header {
    font-size: 44px;
  }   
  .about-content {
    font-size: 14px;
    line-height: 1.5;
  }
  .camera {
    font-size: 12px;
    padding: 10px;
  }

}
@media (min-width:767px) and (max-width: 899px) {
  .subheading {
    font-size: 12px;
    line-height: 1;
  }
  .photographer-name {
    font-size: 24px;
    line-height: 2;
  }
}

